#app {
    text-align: center;
}

.loader {
    height: 5px;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../assets/loader.svg') center center;
}

body {
    margin: 0;
}
