.exp-form-wrapper {
    width: 250px;
    text-align: center;
}

.exp-form-wrapper input {
    width: 85%;
    height: 2em;
    padding: 0 0.5em;
    margin: 0.5em;
}

.exp-form-wrapper a {
    cursor: pointer;
    color: blue;
}


